.App {
  text-align: left;
  padding: 6px;
}

/* @media (prefers-color-scheme: dark) {
  filter: invert(90%);
} */

body.dark {
  background-color: white;
  filter: invert(90%);
}

h1,h2,h3 {
  margin: 0;
  padding: 0;
}


form {
  display: table;
}

form .input-control {
  display: table-row;
}

form .input-control > label, form .input-control > input, form .input-control > .error, form .input-control > .cell {
  padding: 6px;
  margin: 6px;  
  display: table-cell;
}

form .input-control > label {
  text-align: right;
  font-weight: 400;
}

@media (max-width: 650px) {
  form .input-control > label, form .input-control > input,  form .input-control > error {
    display: block;
  }
  form .input-control > label {
    text-align: left
  }
}


form .input-control .error {
  font-style: oblique;
  color: red;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
